
body{
    background-color: #ffff;
    margin: 0;
}

header{
    background-color: #bb8343;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 0 0 30px 30px;
    border: 1px solid rgb(197, 119, 45);
}

header h1{
    color: azure;
    margin: auto;
}

.containerMain{
    max-width: 300px;
    margin: auto;
}

.containerProduto{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 11px 11px;
    border: 1px solid rgb(211, 205, 205);
    padding: 15px;
    margin-bottom: 20px;
}

button{
    cursor: pointer;
    background-color: #bb8343;
    border: 1px solid rgb(197, 119, 45);
    border-radius: 6px;
    margin-bottom: 5px;
    width: 110px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 600;
    color: azure;
    font-size: 14px;
}

.containerProduto h3{
    font-size: 20px;
    font-family: sans-serif;
    margin: 10px;
}

.containerProduto h4{
    font-style: italic;
    font-weight: 600;
    font-size: 17px;
    color: #2b2828;
    margin-top: 0;
    margin-bottom: 18px;
}




.especificacaoCompra{
    display: flex;
    flex-direction: row;
    background-color: #bb8343;
    justify-content: space-between;
    border-radius: 14px 14px 0 0;
}
.especificacaoCompraDetalhes{
    margin-left: 10px;
}

.especificacaoCompraDetalhes h3{
    color: #ffff;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 7px;
}

.especificacaoCompraDetalhes h4{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    color: #ffff;
}

.valorTotal{
    font-size: 12px;
    margin-right: 10px;
}

.valorTotal h2{
    margin-top: 12px;
    font-style: italic;
    font-family: sans-serif;
    font-weight: 500;
}

.containerProdutoSacola{
    display: flex;
    max-width: 300px;
    background-color: #f8f8f8;
    border: 1px solid rgb(211, 205, 205);
    border-radius: 6px;
    margin: 15px auto;
}

.containerDescricao1{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 130px;
}
.containerDescricao1 img{
    width: 130px;
    height: 100px;
}

.containerDescricao1 h3{
    margin: 3px 0;
    font-family: sans-serif;
    font-size: 14px;
}

.containerDescricao2{
    display: flex;
    flex-direction: column;
    width: 90px;
    margin: auto;
    align-items: center;
}

.containerDescricao2 h4{
    margin-top: 8px;
    font-style: italic;
    font-weight: 500;
    font-size: 17px;
    color: #2b2828;
}

.containerDescricao2 img{
    width: 42px;
    margin-top: 10px;
}